accelerate==0.33.0
datasets==2.20.0
evaluate==0.4.2
huggingface-hub==0.24.2
Jinja2==3.1.4
matplotlib==3.9.3
numpy==1.26.4
pandas==2.2.2
peft==0.12.0
PyYAML==6.0.1
ruamel.yaml==0.18.6
scikit-learn==1.5.1
seaborn==0.13.2
tokenizers==0.19.1
torch==2.4.0+cu124
tqdm==4.66.4
transformers==4.43.3
tuned-lens==0.2.0
umap-learn==0.5.7
wandb==0.18.3
